// Theme vars
$primary-theme-color: #152D54;
$secondary-theme-color: #D5C86D;
$background-theme-color: whitesmoke;
$accent-theme-color: #D5866D;

$footer-theme-color: #222;

$footer-theme-height: 28px;

$susy: (
  math: fluid
);

// Typeplate Vars
$typl8-font-family: 'Open Sans', sans-serif;

$typl8-scale: (
  typl8-tera: 81,
  typl8-giga: 72,
  typl8-mega: 54,
  typl8-alpha: 48,
  typl8-beta: 36,
  typl8-gamma: 32,
  typl8-delta: 24,
  typl8-epsilon: 21.333,
  typl8-zeta: 16,
);
