// Theme vars
// TODO: rename all to theme-<type>-color
$primary-theme-color: #2E86AB;
$secondary-theme-color: #F5F749;
$background-theme-color: whitesmoke;
$accent-theme-color: #EF5F2D;
$dark-theme-color: #564138;

$theme-heading-color: #EF5F2D;
$footer-theme-color: $dark-theme-color;

$footer-theme-height: 28px;

$susy: (
  math: fluid
);

// Typeplate Vars
$typl8-font-family: 'Open Sans', sans-serif;

$typl8-heading-color: $theme-heading-color;

$typl8-scale: (
  typl8-tera: 81,
  typl8-giga: 72,
  typl8-mega: 54,
  typl8-alpha: 48,
  typl8-beta: 36,
  typl8-gamma: 32,
  typl8-delta: 24,
  typl8-epsilon: 21.333,
  typl8-zeta: 16,
);
