---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">

        <section class="post-content">

          {% if page.image %}
          <div class="article-image">
            <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
              Article Image
            </div>
            <div class="post-image-image2" style="background-image: url({% if page.image2 %}{{ page.image2 }}{% endif %})">
              Article Image
            </div>
            <div class="post-meta">
              <h1 class="post-title">{{ page.title }}</h1>
              <div class="cf post-meta-text">
                {% assign author = site.authors[page.author] %}
                <div class="author-image" style="background-image: url({{ author.image }})">Author Image</div>
                <h6 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h6>
                on
                <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
                -
                <span class="post-reading-time"></span> read
              </div>
              <div style="text-align:center">
                <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
          {% else %}
          <div class="noarticleimage">
            <div class="post-meta">
              <h1 class="post-title">{{ page.title }}</h1>
              <div class="cf post-meta-text">
                <div class="author-image" style="background-image: url({{ site.author_image }})">Blog Logo</div>
                <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
                on
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
                -
                <span class="post-reading-time"></span> read
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          {% endif %}

          <a name="topofpage"></a>
          {{content}}
        </section>

        {% assign author = site.authors[page.author] %}
        <div class="bottom-teaser cf">
          <div class="author-info">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{author.image}})">Author Image</div>
              <h4>{{ author.name }}</h4>
              <p class="bio">{{author.bio}}</p>
              <!-- If provided, link to the Author's Twitter -->
              {% if author.twitter %}
                <p class="bio"><a href=http://{{author.twitter_url}}>{{author.twitter}}</a></p>
              {% endif %}
              <hr>
              <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
            </section>
          </div>

          {{/post}}

          <!--FIXME: Rework this into a slightly different layout... -->
          <div class="jobs">
            <h5 class="index-headline featured"><span>Join our team!</span></h5>
            <span class="jobs-info">
              <section class="poweredby">LiveSafe is looking for talented Engineers!</a></section>
              <p>Check out our available positions <a href="http://www.livesafemobile.com/careers/">here</a></p>
            </span>
          </div>
        </div>
        {%if site.disqus %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{site.disqus}}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </article>
    </main>

    <!-- <div class="bottom-closer">
      <div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
        Image
      </div>
      <div class="inner">
        <h1 class="blog-title">{{ site.title }}</h1>
        <h2 class="blog-description">{{ site.description }}</h2>
        <a href="/" class="btn">Back Home</a>
      </div>
    </div> -->
    {% include footer.html %}

    {% include javascripts.html %}
  </body>
</html>
